


<%= form_tag(@action, method: @http_verb, class: 'list-form') do %>
  
  <div class="form-group">
    <%= label_tag(:list_name, "List Name: ") %>
    <%= text_field_tag(:list_name, :list_name, size: 40) %>
  </div>

  <div class="form-group">
    <%= label_tag(:items, "To-do Items: ") %>
    <%= text_field_tag(:item, @items, size: 40) %>
    <%= label_tag(:item_name, "Item Name: ") %>
    <%= text_field_tag(:item_name, :item_name, size: 40) %>
    <%= label_tag(:due_date, "Due Date: ") %>
    <%= text_field_tag(:due_date, select_datetime()) %>
    <%= label_tag(:completed, "Item complete? Enter: ") %>
    <%= text_field_tag(:completed, radio_button("item", "completed", "true") ) %>
    <%= text_field_tag(:completed, radio_button("item", "completed", "false") ) %>
  </div>

  <div><%= submit_tag 'Save', class: 'btn btn-default' %></div>
<% end %>
